.menu_area {
    background-color: var(--bg-dark);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }

    nav a {
        display: inline;
        padding: 10px;
        margin: 0;
    }
}